<template>
  <Page actionBarHidden="true" @loaded="appLoaded">
    <DockLayout stretchLastChild="false">
      <!-- TOP PANEL -->
      <GridLayout dock="top" columns="*, *, *" rows="30" backgroundColor="#ECF7FB">
        <BluetoothIndicator row="0" col="0"  />

        <label text="Application BLE" row="0" col="1" />

        <Battery :level="batteryLevel" row="0" col="2" />
      </GridLayout>

      <!-- Information panel for get message for connect device -->
      <StackLayout :visibility="!(isConnected && isEnable) ? 'visible' : 'collapsed'" class="home-panel" dock="top">
        <label textWrap="true" :text="Lang.NeedConnectToSmartli" />
        <Image class src="~/assets/images/connect.instructions.png" />
      </StackLayout>

      <!-- gestures panel -->
      <StackLayout :visibility="(isConnected && isEnable) ? 'visible' : 'collapsed'" class="home-panel" dock="top">
        <GridLayout columns="*, *" rows="1*, 4*, 4*, 1*, 4*">
          <Label :text="Lang.GestureTemplate" row="0" col="0" colSpan="2" />

          <Label :text="Lang.QuickParameters" row="3" col="0" colSpan="2" />

        </GridLayout>
      </StackLayout>
    </DockLayout>
  </Page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import Battery from "./Battery";
import BluetoothIndicator from "./BluetoothIndicator";

import { device } from "@nativescript/core/platform";

// select platform
import { isAndroid, isIOS } from "tns-core-modules/platform";



export default {
  components: {
    Battery,
    BluetoothIndicator
  },
  data() {
    return {
      words: null,

      thisAndroid: null,
      thisIOS: null,

      isEnable: true,
      batteryLevel: 46
    };
  },
  created() {
    // platform type
    this.SetPlatformType({ android: isAndroid,  ios: isIOS});
  },

  computed: {
    
    ...mapGetters({
      isConnected: 'GET_BLE_CONNECT_STATE',
      Lang: 'GET_WORDS',
      Platforms: 'GET_PLATFORMS',
    }),

    
  },
  methods: {
    ...mapActions([
      'SetPlatformType',
      'SetLangForApp'
    ]),
    // отрабатывает после окончательной загрузкии приложения
    appLoaded() {
      console.log(`appLoaded() -> try get localise`);
      // select target system labguage
      //this.Localise = device.language.split("-")[0].toUpperCase();
      this.SetLangForApp(device.language.split("-")[0].toUpperCase());
      console.log(`appLoaded() -> System Language is ${this.Lang}`);
    },

    
  }
};
</script>

<style scoped>
.hide {
  display: none;
}

.home-panel {
  vertical-align: center;
  font-size: 20;
  margin: 15;
}

.img-border {
  border-width: 2px;
  border-color: cadetblue;
  border-radius: 20%;
}
</style>