<template>
  <GridLayout columns="10*, auto, 1*" rows="*">
    <FlexboxLayout row="0" col="1">
      <Label class="title" :text="`${level}%`"/>
      <Image :src="image" height="50%"  />
    </FlexboxLayout>
  </GridLayout>
</template>



<script>
export default {
  name: "Battery",
  components: {},
  props: {
    level: Number
  },
  data() {
    return {
      imageList: {
        low: "~/assets/images/system/battery.low.png",
        meed: "~/assets/images/system/battery.meed.png",
        normal: "~/assets/images/system/battery.normal.png",
        hight: "~/assets/images/system/battery.hight.png"
      }
    };
  },

  computed: {
    image: {
      get: function() {
        if (this.level < 25) return this.imageList.low;
        if (this.level < 50) return this.imageList.meed;
        if (this.level < 75) return this.imageList.normal;

        return this.imageList.hight;
      }
    }
  }
};
</script>