<template>
  <Page actionBarHidden="true">
    <DockLayout stretchLastChild="false">
      <StackLayout class="home-panel" dock="top">
        <ListView for="periferal in periferalListBLE" @itemTap="onItemTap" style="height:1250px">
          <v-template>
            <GridLayout columns="*" rows="20, 20">
              <Label :text="`${periferal.name} [${periferal.RSSI}dB]`" col="0" row="0" />
              <Label :text="periferal.UUID" col="0" row="1" />
            </GridLayout>
          </v-template>
        </ListView>

        <ActivityIndicator :busy="isBusey" :visibility="isBusey ? 'visible' : 'collapsed'" />
      </StackLayout>
    </DockLayout>
  </Page>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { Bluetooth } from "nativescript-bluetooth";

export default {
  components: {},
  computed: {
    ...mapGetters({
      isConnected: "GET_BLE_CONNECT_STATE",
      Device: "GET_BLE_DEVICE"
    })
  },
  data() {
    return {
      periferalListBLE: [],
      isBusey: false,
      //Device: new Bluetooth()
    };
  },

  async mounted() {
    console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ was created");

    this.isBusey = true;

    try {
      // try get list of all BLE device around as device
      const periferals = this.periferalListBLE;
      await this.Device.startScanning({
        serviceUUIDs: [], // not UUID filter
        seconds: 10, // иsearchin about 10 seconds
        onDiscovered: function(peripheral) {
          const canAddPeriferal =
            !periferals.find(item => {
              return item.UUID == peripheral.UUID;
            }) && peripheral.name;
          // if that UUID device fided early - don't add it in as list
          if (canAddPeriferal) {
            periferals.push(peripheral);
          }

          console.log(
            `#################### Periperhal found with UUID: ${peripheral.UUID} and Name: ${peripheral.name}`
          );
        },
        skipPermissionCheck: false
      });

      console.log(
        `scanning complete. Finded of ${this.periferalListBLE.length} devices and system is ${this.isBusey}`
      );
    } catch (err) {
      console.log("#################### error while scanning: " + err);
    }

    this.isBusey = false;
  },

  methods: {
    ...mapActions(["SetBLEDevice", "BLEisConnect", 'BLEisDisconnect']),

    async onItemTap(event) {
      // при клике по позиции останавливаем сканирование устройства
      await this.Device.stopScanning();
      console.log("scanning stopped");

      console.log(
        "###########################################################################################"
      );
      console.log("bluetoothlist -> onItemTap ->");
      console.log(event.item);
      console.log(`Item type = ${event.item.type}`);
      console.log(`Item UUID = ${event.item.UUID}`);
      console.log(`Item name = ${event.item.name}`);
      console.log(`Item RSSI = ${event.item.RSSI}`);
      console.log(`Item localName = ${event.item.localName}`);
      console.log(`Item state = ${event.item.state}`);
      console.log(`Item manufacturerId = ${event.item.manufacturerId}`);
      console.log(
        "###########################################################################################"
      );
      console.log("TRY CONNECT TO DEVISE");

      try {
        await this.Device.connect({
          UUID: event.item.UUID,
          onConnected: function(peripheral) {
            console.log("Periperhal connected with UUID: " + peripheral.UUID);

            // the peripheral object now has a list of available services:
            peripheral.services.forEach(function(service) {
              console.log("service found: " + service);
            });
          },
          onDisconnected: (peripheral) => {
            this.BLEisDisconnect();
            console.log(
              "Periperhal disconnected with UUID: " + peripheral.UUID
            );
          }
        });

        this.SetBLEDevice(this.Device);
        this.BLEisConnect(true);
        console.log(
          "###########################################################################################"
        );

        this.$modal.close();
      } catch (error) {
        console.log(
          `Oops - my mistake with connecting the device: ${error}`
        );
      }
    }
  }
};
</script>

<style scoped></style>
