<template>
  <GridLayout columns="1*, 1*" rows="*">
    <Image class :src="image" row="0" col="0" @tap="doConnect" />
  </GridLayout>
</template>


<script>
import { mapActions, mapGetters } from "vuex";

import BluetoothList from "./BluetoothList";

export default {
  name: "BluetoothIndicator",
  components: {},
  props: {},
  data() {
    return {
      imageList: {
        connected: "~/assets/images/system/connect.png",
        notConnected: "~/assets/images/system/not.connect.png"
      },

      isEnable: false,
    };
  },

  computed: {
    image: {
      get: function() {
        return (this.isConnected & this.isEnable)
          ? this.imageList.connected
          : this.imageList.notConnected;
      }
    },
    ...mapGetters({
      isConnected: "GET_BLE_CONNECT_STATE",
      Device: "GET_BLE_DEVICE",
      Lang: 'GET_WORDS',
    })
  },
  async mounted() {
    this.isEnable = await this.Device.isBluetoothEnabled();

    if(!this.isEnable) {
      this.BLEisDisconnect();
    }
  },

  async update() {
    this.isEnable = await this.Device.isBluetoothEnabled();

    if(!this.isEnable) {
      this.BLEisDisconnect();
    }
  },

  methods: {
    ...mapActions([
      'BLEisDisconnect'
    ]),
    // function for connect todevice from list
    async doConnect() {
      // check bluetooth enable
      this.isEnable = await this.Device.isBluetoothEnabled();
      if (!this.isEnable) {
        this.BLEisDisconnect();
        alert(Lang.BluetoothDontEnableErrorCaption);
      } else {
        this.$showModal(BluetoothList);
      }
    },
  }
};
</script>